.hero{
    background-color: red;
}
.schoolwork div{
    background-color: green;
    border: solid;
}
.footer{
    background-color: grey;
}
.progress-bar{
    background-color: blue;
}
.announcements{
    background-color: cyan;
}
@media (min-width:570px) {
    .hero{
        background-color: orange;
    }
    .schoolwork div{
        height: 200px;
        width: 200px;
        border-radius: 15px;
        
    }
    .schoolwork div:hover{
        width: 210px;
        height: 210px;
        box-shadow: 3px 3px 10px 5px rgb(12, 75, 192);
    }
    .schoolwork{
        background-color: black;
        display: grid;
        grid-template-columns: 250px 250px 250px 250px 250px;
        gap: 25px;
    }
}